@charset "UTF-8";

#wrap{
	width:1200px;
	height:800px;
	margin:0 auto;
}

section{
	width:600px;
	height:800px;
}

.div-input-row{
	display:flex;
	flex-direction:row;
	margin-top:20px;
	justify-content:space-between;
	align-items:center;
	width:500px;
}

.contents{
	width:600px;
	height:600px;
}

.background-mint{
	border:none;
	background-color: #58fcf8;
}
.background-mint:disabled{
	border:none;
	background-color: #48d3c6;	
}
.background-mint:focus {
	border:none;
	box-shadow:0px 0px 0px;
	background-color: #88fffe;
}

.text-small{
	font-size: 11px;
}